flask
Flask-SQLAlchemy
psycopg2-binary
flask-login
flask-migrate
flask-jwt-extended
flask-limiter
python-dotenv
matplotlib
beautifulsoup4
requests
playwright
notebook
anthropic
google-auth-oauthlib
google-api-python-client
