{% extends "base.html" %} {% block title %}Add Wish Item{% endblock %} {% block content
  %}
  <!-- below is sample style -->
   <style>
    input:placeholder-shown {
      font-style: italic;
    }
   </style>
   <h1 align="center">Add New Item</h1>
    <button type="button" class="btn btn-primary" style="float: right;" onclick="window.location.href='{{ url_for( 'views.wishlist') }}';">View My Wishlist</button>
   <br>
   <br>
   <form method="POST">
     <!-- sample: Madewell, Dress, Linen Blue, madewell.com, 129.12-->
     <table align="center">
       <tbody>
         <tr>
           <td>
             Enter Brand:
           </td>
           <td>
             <input type="text" id="brand" name="brand" size=60 placeholder="Rouje">
           </td>
         </tr>
        <tr>
         <td>
           Enter Category:
         </td>
         <td>
           <input type="text" id="category" name="category" size=60 placeholder="Dress">
         </td>
        </tr>
        <tr>
         <td>
           Enter Link:
         </td>
         <td>
           <input type="text" id="link" name="link" size=60 placeholder="https://us.rouje.com/products/cyrielle-fleurdepechepeche">
         </td>
        </tr>
        <tr>
         <td>
           Enter Name:
         </td>
         <td>
           <input type="text" id="name" name="name" size=60 placeholder="CYRIELLE DRESS">
         </td>
        </tr>
        <tr>
         <td>
           Enter Price:
         </td>
         <td>
           <input type="text" id="price" name="price" size=60 placeholder="212.00">
         </td>
        </tr>
       </tbody>
     </table>
     <br />
     <div align="center">
      <button type="submit" class="btn btn-primary">Add Item</button>
     </div>
     
   </form>
  {% endblock %}
