{% extends "base.html" %} {% block title %}Purchase List{% endblock %} {% block content
  %}
  <!-- below is sample style -->
   <style>
    input:placeholder-shown {
      font-style: italic;
    }

    .unhook-button {
      color: red;
    }


   </style>

  <!-- this is the same as base.html and overwrite any blocks -->
  <br>
  <h2 align="center">&#129534; Purchase List &#129534;</h2>
    <button type="button" class="btn btn-warning" style="float: right;" onclick="window.location.href='{{ url_for( 'views.wishlist' ) }}'">Go to my Wish List</button>
    <br>
    <br>
    <button type="button" class="btn btn-primary" style="float: right;" onclick="window.location.href='{{ url_for( 'views.unhooked_list') }}'">Go to my Unhooked List</button>
  <br>
  {% set totalpurchasedprice = namespace(value=0.00) %}
  {% for wishitem in user.wishitems %}
  {% if not wishitem.unhooked and wishitem.purchased %}
  {% endif %}
  {% if not wishitem.unhooked and wishitem.purchased %}
  {% set totalpurchasedprice.value = totalpurchasedprice.value + wishitem.taxed_price %}
  {% endif %}
  {% endfor %}
  {% set totalpurchasedprice.value =  totalpurchasedprice.value|round(2) %}
  <div style="display: flex; justify-content: space-between;">
    <p> <b> &#128717; Total purchased: <font color="#ff0000"> ${{ totalpurchasedprice.value | format_money }} </b></font></p>
  </div>
  <ul class="list-group list-group-flush" id="wishItems">
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Purchase Date</th>
          <th scope="col">Brand</th>
          <th scope="col">Category</th>
          <th scope="col">Name</th>
          <th scope="col">Price (+tax)</th>
          <th scope="col">Wish Period</th>
        </tr>
      </thead>
      <li class="list-group-item">
      {% set count = namespace(value=0) %}
      {% for purchased_item in purchased_items %}
      {% set count.value = count.value + 1 %}
        <tr>
          <th scope="row">{{count.value}}</th>
          <td>
            {% if purchased_item.purchase_date is not none %}
            {{ purchased_item.purchase_date | format_datetime}}
            {% else %}
            {{ purchased_item.date | format_datetime}}  <!-- as an estimate of purchase date, use date when added to wishlist -->
            {% endif %}
          </td>
          <td> {{purchased_item.brand}} </td>
          <td> {{purchased_item.category}} </td>
          <td onClick="window.open('{{ purchased_item.link }}', '_blank')">
            <span style="color: blue; text-decoration: underline; font-size:11pt"> {{purchased_item.name}} </span> <br>
            <span style="font-size: smaller; color: grey; font-style: italic;">
              {{ purchased_item.description | format_description }}
            </span>
          </td>
          <td> {{ (purchased_item.taxed_price|round(2)) | format_money }} </td>
          <td> {{(purchased_item.wish_period | format_time).replace("ago", "") }} </td>
          <td>
            <button type="button" class="close" onClick="toggleWishItem({{ purchased_item.id }}, true, false, '/purchased-list')">
            <span id='unhook-button' style="color: blue; font-size: 11pt;" aria-hidden="true"> return &#128230</span>
            </button>
          </td>
          <td>
          <button type="button" class="close" onClick="deleteItem({{ purchased_item.id }}, '/purchased-list')">
            <span aria-hidden="true">&times;</span>
          </td>
          </button>
        </tr>
      </li>
      {% endfor %}
      </table>
    </ul>
  <br>
 {% endblock %} 
  