{% extends "base.html" %} {% block title %}Perchase List{% endblock %} {% block content
  %}
  <!-- below is sample style -->
   <style>
    input:placeholder-shown {
      font-style: italic;
    }

    .unhook-button {
      color: red;
    }


   </style>

  <!-- this is the same as base.html and overwrite any blocks -->
  <h1 align="center">Purchase List</h1>
    <button type="button" class="btn btn-danger" style="float: right;" onclick="window.location.href='{{ url_for( 'views.wishlist') }}';">Go to my Wish List</button>
    <br>
    <br>
    <button type="button" class="btn btn-primary" style="float: right;" onclick="window.location.href='{{ url_for( 'views.unhooked_list') }}';">Go to my Unhooked List</button>
  <br>
  {% set totalpurchasedprice = namespace(value=0.00) %}
  {% for wishitem in user.wishitems %}
  {% if not wishitem.unhooked and wishitem.purchased %}
  {% endif %}
  {% if not wishitem.unhooked and wishitem.purchased %}
  {% set totalpurchasedprice.value = totalpurchasedprice.value + wishitem.price|float %}
  {% endif %}
  {% endfor %}
  {% set totalpurchasedprice.value =  totalpurchasedprice.value|round(2) %}
  <div style="display: flex; justify-content: space-between;">
    <p> <b> Total purchased: <font color="#ff0000"> ${{ totalpurchasedprice.value }} </b></font></p>
  </div>
  <ul class="list-group list-group-flush" id="wishItems">
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Added Date</th>
          <th scope="col">Brand</th>
          <th scope="col">Category</th>
          <th scope="col">Name</th>
          <th scope="col">Link</th>
          <th scope="col">Price</th>

        </tr>
      </thead>
      <li class="list-group-item">
      {% set count = namespace(value=0) %}
      {% for wishitem in user.wishitems %}
      {% if not wishitem.unhooked and wishitem.purchased %}
      {% set count.value = count.value + 1 %}
        <tr>
          <th scope="row">{{count.value}}</th>
          <td> {{wishitem.date}} </td>
          <td> {{wishitem.brand}} </td>
          <td> {{wishitem.category}} </td>
          <td> {{wishitem.name}} </td>
          <td> {{wishitem.link}} </td>
          <td> {{wishitem.price}} </td>
        </tr>
      {% endif %}
      </li>
      {% endfor %}
      </table>
    </ul>
  <br>
 {% endblock %} 
  