{% extends "base.html" %} {% block title %}Unhooked List{% endblock %} {% block content
  %}
  <!-- below is sample style -->
   <style>
    input:placeholder-shown {
      font-style: italic;
    }

   </style>

  <!-- this is the same as base.html and overwrite any blocks -->
  <br>
  <h2 align="center">&#129693; Unhooked List &#128161;</h2>
  <button type="button" class="btn btn-warning" style="float: right;" onclick="window.location.href='{{ url_for( 'views.wishlist') }}';">Go to Wish List</button>
  <br>
  <br>
  <button type="button" class="btn btn-info" style="float: right;" onclick="window.location.href='{{ url_for( 'views.purchased_list') }}';">Go to Purchase List</button>
  <br>
  {% set totalprice = namespace(value=0.00) %}
  {% for unhooked_item in unhooked_items %}
  {% if unhooked_item.unhooked and not unhooked_item.purchased %}
  {% set totalprice.value = totalprice.value + unhooked_item.taxed_price %}
  {% endif %}
  {% endfor %}
  {% set totalprice.value =  totalprice.value|round(2) %}
  <b> &#128091; Total saved: <font color="green">${{ totalprice.value | format_money }} </font> </b>

  <ul class="list-group list-group-flush" id="wishItems">
    <table id="unhookedlist-table" class="table table-sm">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col" id="unhooked-date-header" style="cursor: pointer;">Unhooked Date</th>
          <th scope="col">Brand</th>
          <th scope="col">Category
          <select id="tagFilter" onchange="filterTable()">
            <option value="">All categories</option>
            {% for unhooked_cat in unhooked_cats %}
            <option value="{{ unhooked_cat }}">{{ unhooked_cat }}</option>
            {% endfor %}
          </select>
          </th>
          <th scope="col">Name</th>
          <th scope="col">Price (+tax)</th>
          <th scope="col" id="wish-period-header" style="cursor: pointer;">Wish Period</th>
        </tr>
      </thead>
      <li class="list-group-item">
      {% set count = namespace(value=0) %}
      {% for unhooked_item in unhooked_items %}
      {% set count.value = count.value + 1 %}
      <tr data-wish-period="{{ unhooked_item.wish_period.total_seconds() if unhooked_item.wish_period is not none else 0 }}" data-unhooked-date="{{ unhooked_item.unhooked_date.timestamp() if unhooked_item.unhooked_date is not none else 0 }}" data-wishitem-category="{{ unhooked_item.category }}">
        <th scope="row">{{count.value}}</th>
          <td> {{ (unhooked_item.unhooked_date if unhooked_item.unhooked_date is not none else unhooked_item.date) | format_datetime}} </td>
          <td> {{unhooked_item.brand}} </td>
          <td> {{unhooked_item.category}} </td>
          <td onClick="window.open('{{ unhooked_item.link }}', '_blank')">
            <span style="color: blue; text-decoration: underline; font-size:11pt"> {{unhooked_item.name}} </span> <br>
            <span style="font-size: smaller; color: grey; font-style: italic;">
              {{ unhooked_item.description | format_description }}
            </span>
          </td>
          <td> {{( unhooked_item.taxed_price|round(2) ) | format_money}} </td>
          <td> {{(unhooked_item.wish_period | format_time).replace("ago", "") }} </td>
          <td>
            <button type="button" class="close" onClick="toggleWishItem({{ unhooked_item.id }}, false, false, '/unhooked-list'), addWishItemPeriod({{unhooked_item.id}}, '/my-wishlist')">
            <span id='readd-button' style="color: #ff00bbdb; font-size: 11pt" aria-hidden="true">Re-add to Wishlist &#128722;</span>
            </button>
          </td>
          <td>
            <button type="button" class="close" onClick="deleteItem({{ unhooked_item.id }}, '/unhooked-list')">
              <span aria-hidden="true">&times;</span>
            </button>
            </td>
        </tr>
      </li>
      {% endfor %}
      </table>
    <!-- Add the JavaScript code here -->
    <script>
      // Function to filter table based on category
      function filterTable() {
            var filter = document.getElementById("tagFilter").value.toLowerCase();
            var rows = document.querySelectorAll("#unhookedlist-table tbody tr");

            rows.forEach(row => {
                var tag = row.getAttribute("data-wishitem-category").toLowerCase();
                if (filter === "" || tag === filter || filter === NaN) {
                    row.style.display = "";
                } else {
                    row.style.display = "none";
                }
            });
        }
        document.addEventListener('DOMContentLoaded', function() {
          let wishPeriodSortOrder = 'asc'; // Initial sort order for Wish Period
          let unhookedDateSortOrder = 'asc'; // Initial sort order for Unhooked Date

          document.getElementById('wish-period-header').addEventListener('click', function() {
            sortTableByAttribute('data-wish-period', wishPeriodSortOrder);
            wishPeriodSortOrder = wishPeriodSortOrder === 'asc' ? 'desc' : 'asc'; // Toggle sort order
          });

          document.getElementById('unhooked-date-header').addEventListener('click', function() {
            sortTableByAttribute('data-unhooked-date', unhookedDateSortOrder);
            unhookedDateSortOrder = unhookedDateSortOrder === 'asc' ? 'desc' : 'asc'; // Toggle sort order
          });


        });

        function sortTableByAttribute(attribute, order) {
            const table = document.getElementById('unhookedlist-table');
            const rows = Array.from(table.rows).slice(1); // Exclude header row

            rows.sort((a, b) => {
                const valueA = parseInt(a.getAttribute(attribute)) || 0;
                const valueB = parseInt(b.getAttribute(attribute)) || 0;
                return order === 'asc' ? valueA - valueB : valueB - valueA;
            });

            rows.forEach(row => table.appendChild(row));
      }
  </script>
  </ul>
  {% endblock %}
