{% extends "base.html" %} {% block title %}Wish List{% endblock %} {% block content
  %}
  <!-- below is sample style -->
   <style>
    input:placeholder-shown {
      font-style: italic;
    }

    .unhook-button {
      color: red;
    }

   </style>
  <!-- this is the same as base.html and overwrite any blocks -->
  <br>
  <h2 align="center">&#128722; Wish List &#128722;</h2>
  <button type="button" class="btn btn-primary" style="float: right;" onclick="window.location.href='{{ url_for( 'views.unhooked_list') }}';">Go to my Unhooked List</button>
  <br>
  <br>
  <button type="button" class="btn btn-info" style="float: right;" onclick="window.location.href='{{ url_for( 'views.purchased_list') }}';">Go to my Purchase List</button>
  <br>
  {% set totalprice = namespace(value=0.00) %}
  {% set totalpurchasedprice = namespace(value=0.00) %}
  {% set totalfavoriteprice = namespace(value=0.00) %}
  {% for wishitem in user.wishitems %}
  {% if not wishitem.unhooked and not wishitem.purchased %}
  {% set totalprice.value = totalprice.value + wishitem.taxed_price %}
  {% endif %}
  {% if not wishitem.unhooked and wishitem.purchased %}
  {% set totalpurchasedprice.value = totalpurchasedprice.value + wishitem.taxed_price %}
  {% endif %}
  {% if wishitem.favorited and not wishitem.unhooked and not wishitem.purchased%}
  {% set totalfavoriteprice.value = totalfavoriteprice.value + wishitem.taxed_price %}
  {% endif %}
  {% endfor %}
  {% set totalprice.value =  totalprice.value|round(2) %}
  {% set totalpurchasedprice.value =  totalpurchasedprice.value|round(2) %}
  {% set totalfavoriteprice.value =  totalfavoriteprice.value|round(2) %}
  <div style="display: flex; justify-content: space-between;">
    <p> <b> &#128722; Total value of items: <font color="blue">${{ totalprice.value | format_money }} 
    </b></font>&nbsp; &#128150;<b> Total favorited: <font color="gold"> ${{ totalfavoriteprice.value | format_money }}
    <br>
    </b></font>&#128717; <b>Total purchased: <font color="#ff0000"> ${{ totalpurchasedprice.value | format_money }} 
    </b></font></p>
  </div>

  <ul class="list-group list-group-flush" id="wishItems">
    <table id="wishlist-table" class="table table-sm">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Time</th>
          <th scope="col">Brand
          <select id="brandFilter" onchange="filterTable()">
            <option value="">All brands</option>
            {% for brand in brands %}
            <option value="{{ brand }}">{{ brand }}</option>
            {% endfor %}
          </select>
          </th>
          <th scope="col">Category
            <select id="tagFilter" onchange="filterTable()">
              <option value="">All categories</option>
              {% for category in categories %}
              <option value="{{ category }}">{{ category }}</option>
              {% endfor %}
            </select>
          </th>
          <th scope="col">Name</th>
          <!-- <th scope="col">Photo</th> -->
          <th scope="col">💖</th>
          <th scope="col">Price (+tax)</th>
          <th scope="col">Added</th>

        </tr>
      </thead>
      <li class="list-group-item">
      {% set count = namespace(value=0) %}
      {% for wishitem in user.wishitems %}
      {% if not wishitem.unhooked and not wishitem.purchased %}
      {% set count.value = count.value + 1 %}
        <tr data-wishitem-id="{{ wishitem.id }}" data-wishitem-category="{{ wishitem.category }}" data-wishitem-brand="{{ wishitem.brand }}">
          <th scope="row">{{count.value}}</th>
          <td> {{wishitem.date | format_datetime}} </td>
          <td contenteditable="true" oninput="autoSave(this)"> {{wishitem.brand}} </td>
          <td contenteditable="true" oninput="autoSave(this)">
            {{ wishitem.category }}<br>
            <span style="font-size: smaller; color: grey; font-style: italic;">
              {{ wishitem.tag | format_tag }}
            </span>
          </td>
          <td contenteditable="true" oninput="autoSave(this)">
            <span style="color: blue; text-decoration: underline; font-size:11pt" onClick="window.open('{{ wishitem.link }}', '_blank')"> {{wishitem.name}} </span> <br>
            <span style="font-size: smaller; color: grey; font-style: italic;">
              {{ wishitem.description | format_description }}
            </span>
          </td>
          <td>
            <button type="button" class="close" onClick="toggleFavoriteWishItem({{ wishitem.id }})">
              <!-- <span class="favorite-icon" style="font-size: 11pt;" aria-hidden="true">⠀</span> Heart emoji &#10084;-->
              <span id="favorite-button" style="font-size: 11pt;" aria-hidden="true">
                {% if wishitem.favorited %}
                  💖
                {% else %}
                  ◽️
                {% endif %}
              </span>
            </button>
          </td>
          <td> {{ (wishitem.total_price|round(2) if wishitem.total_price != None else wishitem.taxed_price|round(2) ) | format_money}} </td>
          <td> 
            {% if wishitem.wish_period %}
              {{ wishitem.wish_period | format_time }}
              {% else %}
                {% if wishitem.date %}
                  <!-- {{ (current_time - wishitem.date) | debug }} -->
                  {{ (current_time - wishitem.date) | format_time }}
                {% else %}
                  {{ None }}
                {% endif %}
              {% endif %}
          </td>
          <td>
            <button type="button" class="close" onClick="toggleWishItem({{ wishitem.id }}, true, false, '/my-wishlist'), addWishItemPeriod({{wishitem.id}}, '/my-wishlist')">
              <span id='unhook-button' style="color: blue; font-size: 11pt;" aria-hidden="true"> unhook&#129693;</span>
            </button>
          </td>
          <td>
          <button type="button" class="close" onClick="toggleWishItem({{ wishitem.id }}, false, true, '/my-wishlist'), addWishItemPeriod({{wishitem.id}}, '/my-wishlist')"">
          <span id='purchase-button' style="color: red; font-size: 11pt;" aria-hidden="true"> purchase&#129297;</span>
          </button>
          </td>
          <td>
          <button type="button" class="close" onClick="deleteItem({{ wishitem.id }}, '/my-wishlist')">
            <span aria-hidden="true">&times;</span>
          </td>
          </button>
        </tr>
      {% endif %}
      </li>
      {% endfor %}
      </table>
    </ul>
  <!--br>
  <hr width="50%" color="green" size="50px" />
  <img src="./website/static/" alt="Italian Trulli"-->
  <br>
  <hr width="50%" color="green" size="50px" />
  <h2 align="center">&#128156; Add New Item &#128156;</h2>
 <form method="POST">
   <!-- sample: Madewell, Dress, Linen Blue, madewell.com, 129.12-->
   <body>
   <table align="center">
     <tbody>
       <tr>
         <td>
           Enter Brand*:
         </td>
         <td>
           <input type="text" id="brand" name="brand" size=60 placeholder="Rouje">
         </td>
       </tr>
      <tr>
       <td>
         Enter Category*:
       </td>
       <td>
        <select id="category" name="category">
          <option value="">Select Category</option>
          <option value="Top">Top</option>
          <option value="Pants">Pants</option>
          <option value="Skirt">Skirt</option>
          <option value="Bag">Bag</option>
          <option value="Dress">Dress</option>
          <option value="Shoes">Shoes</option>
          <option disabled>------</option>
          <option value="Beauty">Beauty/Makeup</option>
          <option value="Jacket">Jacket</option>
          <option value="Ring">Ring</option>
          <option value="Earrings">Earrings</option>
          <option value="Wallet">Wallet</option>
          <option value="Pajamas">Pajamas</option>
          <option value="Underwear">Underwear</option>
          <option value="Living">Living</option>
          <option value="Other accessories">Other accessories</option>
          <option value="Other">Other (e.g. Luggage)</option>
        </select>
        </td>
      </tr>
      <tr>
        <td>
          Enter Tag:
        </td>
        <td>
          <input type="text" id="tag" name="tag" size=60 placeholder="Tag">
        </td>
       </tr>
      <tr>
       <td>
         Enter Name*:
       </td>
       <td>
         <input type="text" id="name" name="name" size=60 placeholder="CYRIELLE DRESS">
       </td>
      </tr>
      <tr>
        <td>
          Enter Description:
        </td>
        <td>
          <input type="text" id="description" name="description" size=60 placeholder="Pink Dress">
        </td>
       </tr>
      <tr>
       <td>
         Enter Price*:
       </td>
       <td>
         <input type="text" id="price" name="price" size=60 placeholder="212.00">
       </td>
      </tr>
      <tr>
        <td>
          Enter Deliver Fee (if exists):
        </td>
        <td>
          <input type="text" id="delivery-fee" name="delivery-fee" size=60 placeholder="30.00">
        </td>
      </tr>
      <tr>
        <td>
          Enter Link*:
        </td>
        <td>
          <input type="text" id="link" name="link" size=60 placeholder="https://us.rouje.com/products/cyrielle-fleurdepechepeche">
        </td>
       </tr>
     </tbody>
   </table>
   
    <!-- Add the JavaScript code here -->
    <script>
      document.getElementById('link').addEventListener('blur', function() {
          const url = this.value;
          if (url) {
              fetch('/fetch-url-info', {
                  method: 'POST',
                  headers: {
                      'Content-Type': 'application/json'
                  },
                  body: JSON.stringify({ url: url })
              })
              .then(response => response.json())
              .then(data => {
                  if (data.success) {
                      document.getElementById('name').value = data.name;
                      document.getElementById('price').value = data.price;
                      document.getElementById('brand').value = data.brand;
                      document.getElementById('description').value = data.description;
                  } else {
                      alert('Failed to fetch URL information');
                  }
              })
              .catch(error => console.error('Error:', error));
          }
      });

      function autoSave(cell) {
            const row = cell.parentNode;
            const wishitemId = row.getAttribute('data-wishitem-id');
            const cells = row.querySelectorAll('td[contenteditable="true"]');
            const data = Array.from(cells).map(cell => cell.innerText);

            // print/log the data to the console
            console.log(data); // print data array to browser console (F12 -> Console tab)

            // TODO: Send the data to the server using fetch or XMLHttpRequest
            fetch('/save-table', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ wishItemId: wishitemId, Brand: data[0], Category_Tag: data[1], Name_Description: data[2] })
            }).then(response => response.json())
            .then(data => console.log(data))
            .catch(error => console.error('Error:', error));
        }
      // Function to filter table based on category
      function filterTable() {
        var categoryFilter = document.getElementById("tagFilter").value.toLowerCase();
        console.log('categoryFilter:', categoryFilter); // Print categoryFilter
        var brandFilter = document.getElementById("brandFilter").value.toLowerCase();
        console.log('brandFilter:', brandFilter); // Print categoryFilter
        var rows = document.querySelectorAll("#wishlist-table tbody tr");

        rows.forEach(row => {
          var tdCategory = row.getAttribute("data-wishitem-category").toLowerCase();
          console.log('tdCategory:', tdCategory); // Print tdCategory
          var tdBrand = row.getAttribute("data-wishitem-brand").toLowerCase();
          if ((categoryFilter === "" || tdCategory.includes(categoryFilter)) &&
              (brandFilter === "" || tdBrand.includes(brandFilter))) {
            row.style.display = "";
          } else {
            row.style.display = "none";
          }
        });
      }
      </script>
   <br />
   <div align="center">
    <button type="submit" class="btn btn-primary">Add Item</button>
   </div>
  </body>
  <script>
    // Save scroll position before form submission
    document.querySelector('form').addEventListener('submit', function() {
      localStorage.setItem('scrollPosition', window.scrollY);
    });

    // Restore scroll position after page reload
    window.addEventListener('load', function() {
      const scrollPosition = localStorage.getItem('scrollPosition');
      if (scrollPosition) {
        window.scrollTo(0, scrollPosition);
        localStorage.removeItem('scrollPosition'); // Clean up
      }
    });
  </script>
 </form>
 {% endblock %} 
  