{% extends "base.html" %} {% block title %}Wish List{% endblock %} {% block content
%}
<!-- this is the same as base.html and overwrite any blocks -->
<h1 align="center">My Wish List</h1>
<ul class="list-group list-group-flush" id="my-wishlist">
  {% for wishitem in user.wishlist %}
  <li class="list-group-item">
    {{ wishitem.data }}
    <button type="button" class="close" onClick="deleteNote({{ wishitem.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul>
<form method="POST">
  <textarea name="wishitem" id="wishitem" class="form-control"></textarea>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Add Item</button>
  </div>
</form>
{% endblock %}
